builddir/
*.o
subprojects/**/
!subprojects/**/packagefiles
!subprojects/**/packagefiles/**/
settings.json
*.db*
web/WebCrawlerBackend/build/*
uploads/
prototype.cpp
.vscode
docker/crawler-deps
docker/images
logs/
*.tar.gz
*.pyc